<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.giu.localflow</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/giuseppegeukes/repos/localflow/run.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardErrorPath</key>
    <string>/Users/giuseppegeukes/repos/localflow/localflow.log</string>
</dict>
</plist>
